---
# VORLAGE - NICHT COMMITTEN!
# TEST-Umgebung: Odoo Backup NAS20 S3 Credentials (P4b NAS10->NAS20)
# Auf k8s-mgmt-10:
# 1. NAS20 S3 Credentials eintragen (Account s3-k8s-test, NAS20 - wie CNPG/Loki/Thanos)
# 2. Verschluesseln:
#      cd ~/git/eneg-k8s-infrastructure-v2/kubernetes/environments/test/apps/odoo/backup/secrets
#      sops --encrypt --encrypted-regex '^(data|stringData)$' \
#           odoo-backup-credentials.yaml > odoo-backup-credentials.enc.yaml
#      rm odoo-backup-credentials.yaml
apiVersion: v1
kind: Secret
metadata:
  name: odoo-backup-credentials
  namespace: odoo
  labels:
    app.kubernetes.io/name: odoo-backup
    app.kubernetes.io/part-of: pilot-apps
    app.kubernetes.io/managed-by: argocd
type: Opaque
stringData:
  # NAS20 S3 (Destination) - Account s3-k8s-test (P4b NAS10->NAS20)
  NAS_ACCESS_KEY_ID: "s3-k8s-test"
  NAS_SECRET_ACCESS_KEY: "HIER_NAS20_SECRET_KEY_EINTRAGEN"
