---
# VORLAGE - NICHT COMMITTEN!
# TEST-Umgebung: Odoo Backup NAS10 S3 Credentials
# Auf k8s-mgmt-10:
# 1. NAS10 S3 Credentials eintragen (dieselben wie fuer CNPG Backups)
# 2. Verschluesseln:
#      cd ~/git/eneg-k8s-infrastructure-v2/kubernetes/environments/test/apps/odoo/backup/secrets
#      sops --encrypt --encrypted-regex '^(data|stringData)$' \
#           odoo-backup-credentials.yaml > odoo-backup-credentials.enc.yaml
#      rm odoo-backup-credentials.yaml
apiVersion: v1
kind: Secret
metadata:
  name: odoo-backup-credentials
  namespace: odoo
  labels:
    app.kubernetes.io/name: odoo-backup
    app.kubernetes.io/part-of: pilot-apps
    app.kubernetes.io/managed-by: argocd
type: Opaque
stringData:
  NAS10_ACCESS_KEY_ID: "HIER_NAS10_ACCESS_KEY_EINTRAGEN"
  NAS10_SECRET_ACCESS_KEY: "HIER_NAS10_SECRET_KEY_EINTRAGEN"
