---
# VORLAGE - NICHT COMMITTEN!
# i-doit DB-Credentials (databases Namespace)
# Dasselbe Passwort wie in idoit-secrets (idoit Namespace)
# Wird vom MariaDB Operator User CRD referenziert
#
# Verschluesseln:
#   cd ~/git/eneg-k8s-infrastructure-v2/kubernetes/base/mariadb-galera/secrets
#   sops --encrypt --age age1fdqtcha9jnzqafe5t6hed6v5sv858x2tt6nwuw00u3luyxuaqcxqh5mcrm \
#        --encrypted-regex '^(data|stringData)$' \
#        idoit-db-credentials.yaml > idoit-db-credentials.enc.yaml
#   rm idoit-db-credentials.yaml
apiVersion: v1
kind: Secret
metadata:
  name: idoit-db-credentials
  namespace: databases
  labels:
    app.kubernetes.io/name: idoit
    app.kubernetes.io/managed-by: argocd
type: Opaque
stringData:
  password: "HIER_DASSELBE_DB_PASSWORT_WIE_IN_idoit-secrets"
