---
# VORLAGE - NICHT COMMITTEN!
# TEST-Umgebung: MariaDB Root + S3-Credentials
# WICHTIG (P4b): mariadb-credentials wird AUCH von mariadb-galera.yaml genutzt
# (rootPasswordSecretKeyRef -> ROOT_PASSWORD). Beim Neuverschluesseln daher die
# bestehende .enc.yaml entschluesseln und NUR die S3-Felder auf NAS20 aendern -
# ROOT_PASSWORD unveraendert lassen (sonst verliert der Galera-Operator Zugang)!
# Auf k8s-mgmt-10:
# 1. Root-Passwort generieren: openssl rand -base64 24
# 2. S3 SECRET_ACCESS_KEY eintragen (fuer TEST-Buckets auf NAS20, Account s3-k8s-test)
# 3. Verschluesseln:
#      cd ~/git/eneg-k8s-infrastructure-v2/kubernetes/environments/test/mariadb-secrets
#      sops --encrypt --age age1fdqtcha9jnzqafe5t6hed6v5sv858x2tt6nwuw00u3luyxuaqcxqh5mcrm \
#           --encrypted-regex '^(data|stringData)$' \
#           mariadb-credentials.yaml > mariadb-credentials.enc.yaml
#      rm mariadb-credentials.yaml
apiVersion: v1
kind: Secret
metadata:
  name: mariadb-credentials
  namespace: databases
  labels:
    app.kubernetes.io/part-of: mariadb-galera
    app.kubernetes.io/managed-by: argocd
type: Opaque
stringData:
  # MariaDB Root-Passwort
  ROOT_PASSWORD: "HIER_SICHERES_PASSWORT"
  # S3-Backup-Credentials (TEST-Account s3-k8s-test auf NAS20, P4b)
  S3_ACCESS_KEY_ID: "s3-k8s-test"
  S3_SECRET_ACCESS_KEY: "HIER_NAS20_SECRET_KEY_EINTRAGEN"
  S3_ENDPOINT: "https://nas20.eneg.de:8010"
