---
# VORLAGE - NICHT COMMITTEN!
# Diese Datei auf dem Management-Server (k8s-mgmt-10) bearbeiten:
#
# Werte generieren:
#   DB_PASSWORT:    Dasselbe Passwort wie in odoo-db-credentials (databases NS)
#   ADMIN_PASSWORT: openssl rand -hex 24
#
# Verschluesseln:
#   cd ~/git/eneg-k8s-infrastructure-v2/kubernetes/base/apps/odoo/secrets
#   sops --encrypt --age age1fdqtcha9jnzqafe5t6hed6v5sv858x2tt6nwuw00u3luyxuaqcxqh5mcrm \
#        --encrypted-regex '^(data|stringData)$' \
#        odoo-secrets.yaml > odoo-secrets.enc.yaml
#
# Diese Vorlage loeschen, nur .enc.yaml committen
apiVersion: v1
kind: Secret
metadata:
  name: odoo-secrets
  namespace: odoo
  labels:
    app.kubernetes.io/name: odoo
    app.kubernetes.io/managed-by: argocd
type: Opaque
stringData:
  db-password: "HIER_DB_PASSWORT_EINTRAGEN"
  admin-password: "HIER_ADMIN_PASSWORT_EINTRAGEN"
