# TEMPLATE - Nicht committen! Auf k8s-mgmt-10 ausfuellen und mit SOPS verschluesseln:
# sops --encrypt --encrypted-regex '^(data|stringData)$' \
#   --age age1fdqtcha9jnzqafe5t6hed6v5sv858x2tt6nwuw00u3luyxuaqcxqh5mcrm \
#   grafana-admin-secret.yaml > grafana-admin-secret.enc.yaml
---
apiVersion: v1
kind: Secret
metadata:
  name: grafana-admin-secret
  namespace: monitoring
type: Opaque
stringData:
  admin-user: "admin"
  admin-password: "GRAFANA_ADMIN_PASSWORT_HIER"
