---
# VORLAGE - NICHT COMMITTEN!
# TEST-Umgebung: Odoo Secrets
# Auf k8s-mgmt-10:
# 1. DB-Passwort: Dasselbe wie in test/cnpg-secrets/odoo-db-credentials
# 2. Admin-Passwort generieren: openssl rand -hex 24
# 3. Verschluesseln:
#      cd ~/git/eneg-k8s-infrastructure-v2/kubernetes/environments/test/apps/odoo/secrets
#      sops --encrypt --encrypted-regex '^(data|stringData)$' \
#           odoo-secrets.yaml > odoo-secrets.enc.yaml
#      rm odoo-secrets.yaml
apiVersion: v1
kind: Secret
metadata:
  name: odoo-secrets
  namespace: odoo
  labels:
    app.kubernetes.io/name: odoo
    app.kubernetes.io/managed-by: argocd
type: Opaque
stringData:
  db-password: "HIER_DB_PASSWORT_EINTRAGEN"
  admin-password: "HIER_ADMIN_PASSWORT_EINTRAGEN"
