---
# K3s Role - Main Tasks
- name: Include distribution-specific variables
  include_vars: "{{ ansible_distribution }}.yml"
  tags:
    - always

- name: Download K3s installation script
  get_url:
    url: https://get.k3s.io
    dest: /tmp/install-k3s.sh
    mode: '0755'
  tags:
    - k3s
    - install

- name: Check if K3s is already installed
  stat:
    path: /usr/local/bin/k3s
  register: k3s_binary
  tags:
    - k3s
    - install

- name: Install K3s on first master node
  shell: |
    INSTALL_K3S_SKIP_START=true \
    INSTALL_K3S_EXEC="server \
      --disable=traefik \
      --disable=servicelb \
      --disable=local-storage \
      --cluster-init \
      --tls-san={{ k3s_lb_ip }} \
      --tls-san={{ ansible_hostname }} \
      --write-kubeconfig-mode=644 \
      --node-name={{ ansible_hostname }} \
      --node-ip={{ ansible_default_ipv4.address }}" \
    sh /tmp/install-k3s.sh
  when:
    - not k3s_binary.stat.exists
    - inventory_hostname == groups['k3s_master'][0]
  tags:
    - k3s
    - install

- name: Wait for K3s to be ready on first master
  wait_for:
    path: /var/lib/rancher/k3s/server/node-token
    state: present
    timeout: 300
  when: inventory_hostname == groups['k3s_master'][0]
  tags:
    - k3s
    - install

- name: Read K3s token from first master
  slurp:
    src: /var/lib/rancher/k3s/server/node-token
  register: k3s_token_raw
  when: inventory_hostname == groups['k3s_master'][0]
  tags:
    - k3s
    - install

- name: Set K3s token fact
  set_fact:
    k3s_token: "{{ k3s_token_raw.content | b64decode | trim }}"
  when: inventory_hostname == groups['k3s_master'][0]
  tags:
    - k3s
    - install

- name: Install K3s on additional master nodes
  shell: |
    INSTALL_K3S_SKIP_START=true \
    K3S_TOKEN="{{ hostvars[groups['k3s_master'][0]]['k3s_token'] }}" \
    INSTALL_K3S_EXEC="server \
      --disable=traefik \
      --disable=servicelb \
      --disable=local-storage \
      --server https://{{ hostvars[groups['k3s_master'][0]]['ansible_default_ipv4']['address'] }}:6443 \
      --tls-san={{ k3s_lb_ip }} \
      --tls-san={{ ansible_hostname }} \
      --write-kubeconfig-mode=644 \
      --node-name={{ ansible_hostname }} \
      --node-ip={{ ansible_default_ipv4.address }}" \
    sh /tmp/install-k3s.sh
  when:
    - not k3s_binary.stat.exists
    - inventory_hostname != groups['k3s_master'][0]
    - inventory_hostname in groups['k3s_master']
  tags:
    - k3s
    - install

- name: Create K3s config directory
  file:
    path: /etc/rancher/k3s
    state: directory
    mode: '0755'
  tags:
    - k3s
    - config

- name: Deploy K3s config file
  template:
    src: k3s-config.yaml.j2
    dest: /etc/rancher/k3s/config.yaml
    mode: '0644'
  notify: restart k3s
  tags:
    - k3s
    - config

- name: Start and enable K3s service
  systemd:
    name: k3s
    state: started
    enabled: yes
  tags:
    - k3s
    - service
