apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
data:
  # Repository-Konfiguration
  repositories: |
    - url: git@github.com:dhenkeeneg/eneg-k8s-infrastructure-v2.git
      name: eneg-k8s-infrastructure-v2
      type: git
