---
# VORLAGE - NICHT COMMITTEN!
# TEST-Umgebung: i-doit Secrets
# Auf k8s-mgmt-10:
# 1. DB-Passwort generieren: openssl rand -hex 24
# 2. Admin-Passwort generieren: openssl rand -hex 16
# 3. Verschluesseln:
#      cd ~/git/eneg-k8s-infrastructure-v2/kubernetes/environments/test/apps/idoit/secrets
#      sops --encrypt --encrypted-regex '^(data|stringData)$' \
#           idoit-secrets.yaml > idoit-secrets.enc.yaml
#      rm idoit-secrets.yaml
apiVersion: v1
kind: Secret
metadata:
  name: idoit-secrets
  namespace: idoit
  labels:
    app.kubernetes.io/name: idoit
    app.kubernetes.io/managed-by: argocd
type: Opaque
stringData:
  db-password: "HIER_GENERIERTES_DB_PASSWORT_EINTRAGEN"
  admin-password: "HIER_GENERIERTES_ADMIN_PASSWORT_EINTRAGEN"
