---
# VORLAGE - NICHT COMMITTEN!
# PROD-Umgebung: CNPG S3-Credentials
# Auf k8s-mgmt-10 bearbeiten:
# 1. SECRET_ACCESS_KEY eintragen (S3-Key fuer PROD-Buckets auf NAS10)
# 2. Verschluesseln:
#      cd ~/git/eneg-k8s-infrastructure-v2/kubernetes/environments/prod/cnpg-secrets
#      sops --encrypt --age age1fdqtcha9jnzqafe5t6hed6v5sv858x2tt6nwuw00u3luyxuaqcxqh5mcrm \
#           --encrypted-regex '^(data|stringData)$' \
#           s3-credentials.yaml > s3-credentials.enc.yaml
#      rm s3-credentials.yaml
apiVersion: v1
kind: Secret
metadata:
  name: cnpg-s3-credentials
  namespace: databases
  labels:
    app.kubernetes.io/part-of: cloudnative-pg
    app.kubernetes.io/managed-by: argocd
type: Opaque
stringData:
  ACCESS_KEY_ID: "s3-k8s-prod"
  SECRET_ACCESS_KEY: "HIER_SECRET_KEY_EINTRAGEN"
  S3_ENDPOINT: "http://nas10.eneg.de:8010"
