---
# VORLAGE - NICHT COMMITTEN!
# TEST-Umgebung: Keycloak Secrets
# Auf k8s-mgmt-10:
# 1. DB-Passwort: Dasselbe wie in test/cnpg-secrets/keycloak-db-credentials
# 2. Admin-Passwort: openssl rand -hex 24
# 3. Verschluesseln:
#      cd ~/git/eneg-k8s-infrastructure-v2/kubernetes/environments/test/apps/keycloak/secrets
#      sops --encrypt --encrypted-regex '^(data|stringData)$' \
#           keycloak-secrets.yaml > keycloak-secrets.enc.yaml
#      rm keycloak-secrets.yaml
apiVersion: v1
kind: Secret
metadata:
  name: keycloak-secrets
  namespace: keycloak
  labels:
    app.kubernetes.io/name: keycloak
    app.kubernetes.io/managed-by: argocd
type: Opaque
stringData:
  db-password: "HIER_DASSELBE_DB_PASSWORT"
  admin-password: "HIER_ADMIN_PASSWORT"
