---
# VORLAGE - NICHT COMMITTEN!
# Velero S3 Credentials fuer NAS10 (PROD)
#
# Verschluesseln auf k8s-mgmt-10:
#   cd ~/git/eneg-k8s-infrastructure-v2/kubernetes/environments/prod/velero-secrets
#   sops --encrypt --age age1fdqtcha9jnzqafe5t6hed6v5sv858x2tt6nwuw00u3luyxuaqcxqh5mcrm \
#        --encrypted-regex '^(data|stringData)$' \
#        velero-s3-credentials.yaml.template > velero-s3-credentials.enc.yaml
apiVersion: v1
kind: Secret
metadata:
  name: velero-s3-credentials
  namespace: velero
  labels:
    app.kubernetes.io/name: velero
    app.kubernetes.io/part-of: infrastructure
    app.kubernetes.io/managed-by: argocd
type: Opaque
stringData:
  cloud: |
    [default]
    aws_access_key_id = HIER_NAS10_ACCESS_KEY_EINTRAGEN
    aws_secret_access_key = HIER_NAS10_SECRET_KEY_EINTRAGEN
